.inline-block{
    display: inline-block;
    vertical-align: top;
}
/*Header*/
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000000;
    padding-top: 0%;
    padding-bottom: 0%;
}
h2{
    font-size: 50px;
}
h4{
    font-size: 30px;
}
.exclusiveText{
    position: relative;
    left:30px;
}
.sitetitle{
    padding: 0px 0px;
    color:white;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}
body{
    display: grid;
    background-color: beige;
    background-attachment: fixed;
    overflow-x:hidden;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.catText{
    text-align: center;
    font-size: 38px;
}
.productRows{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
/*Break Point for Flex Items*/
.break{
    flex-basis: 100%;
    height: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
/*Cards*/
.exclusiveSection{
    display: flex;
    flex-direction:row;
    overflow:auto;
    white-space:nowrap;
    padding:5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    max-height: 350px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 50px;
    background-color: gray;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

/*Nav Bar*/
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: beige;
    overflow: hidden;
    border-style: solid;
    border-color: silver;
    border-width: 3px;
    border-left-color: rgb(0,0,0,0);
    border-right-color: rgb(0,0,0,0);
}
nav a{
    float: left;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover{
    background-color: rgb(192, 255, 2);
    color: black;
}
nav a.active{
    background-color: whitesmoke;
    color: rgb(198, 23, 23);
}



/*Footer*/
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #6f6f71;
    overflow: hidden;
    padding: 20px;
}
footer a{
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
footer a:hover{
    background-color: rgb(192, 255, 2);
    color: black;
}
footer a.active{
    background-color: whitesmoke;
    color: rgb(198, 23, 23);
}