.inline-block{
    display: inline-block;
    vertical-align: top;
}
/*Header*/
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000000;
    padding-top: 0%;
    padding-bottom: 0%;
}
.sitetitle{
    padding: 0px 0px;
    color:white;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}
body{
    display: grid;
    background-color: beige;
    background-attachment: fixed;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 50px;
}
h4{
    font-size: 30px;
}
.clearfix {
    overflow: auto;
  }
.center{
    text-align: center;
}
/*Nav Bar*/
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: beige;
    overflow: hidden;
    border-style: solid;
    border-color: silver;
    border-width: 3px;
    border-left-color: rgb(0,0,0,0);
    border-right-color: rgb(0,0,0,0);
}
nav a{
    float: left;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover{
    background-color: rgb(192, 255, 2);
    color: black;
}
nav a.active{
    background-color: whitesmoke;
    color: rgb(198, 23, 23);
}
/*Hero Section*/
.heroContainer{
    flex-wrap: wrap;
    padding-left: clamp(150px, 15%, 1000px);
}
.heroText{
    color: whitesmoke;
    font-size: 30px;
    width: 600px;
}
.welcomeText{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 25px;
}
/*Button Containers*/
.themeContainer{
display: flex;
flex-direction: column;
justify-content: center;
}
/*Individual Buttons*/
.summer{
    width: 1400px;
    height: 200px;
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 80px;
}
.summer:hover{
    border: 3px solid green;
}
.fall{
    width: 1400px;
    height: 200px;
    font-size: 20px;
    margin-left: 420px;
}
.fall:hover{
    border: 3px solid green;
}
.textOne{
    margin-left: 420px;
}
.textTwo{
    margin-left: 660px;
}
.row{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}
.row button{
    width: 400px;
    height: 600px;
}
.catalogCont{
    display: flex;
    justify-content: center;
}
.catalog{
    margin-top: 25px;
    margin-bottom: 50px;
    width: 1400px;
    height: 150px;
}
/*Footer*/
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #6f6f71;
    overflow: hidden;
    padding: 20px;
}
footer a{
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
footer a:hover{
    background-color: rgb(192, 255, 2);
    color: black;
}
footer a.active{
    background-color: whitesmoke;
    color: rgb(198, 23, 23);
}